<header class="app-header">
  <section class="banner"></section>

  <section class="description">
    <img class="avatar" src="<%- theme.avatar %>" alt="avatar" />
    <h1 class="title"> <%- theme.title %> </h1>
    <h3 class="subtitle"> <%- theme.subtitle %> </h3>
  </section>

  <nav>
    <a href="<%- theme.nav.github %>">GitHub</a>
    <a href="<%- theme.nav.twitter %>">Twitter</a>
    <a href="<%- theme.nav.zhihu %>">About</a>
  </nav>
</header>
