<header class="app-header">
  <section class="banner">
    <!-- http://daverupert.com/2015/12/intrinsic-placeholders-with-picture/ -->
    <div class="placeholder"></div>
    <img
      class="banner-small"
      data-src="<%- url_for(theme.banner_large)%>"
      src="<%- url_for(theme.banner_small) %>"
      alt="banner"
    >
  </section>

  <section class="description">
    <img class="avatar" src="<%- url_for(theme.avatar) %>" alt="avatar" />
    <h1 class="title"> <%- theme.title %> </h1>
    <h3 class="subtitle"> <%- theme.subtitle %> </h3>
  </section>

  <ul class="social-list">
    <a href="<%- theme.social.twitter %>">Twitter</a>
    <a href="<%- theme.social.github %>">GitHub</a>
  </ul>
</header>
